.navbar {
  @include flexbox(center, space-between);
  width: 100%;
  padding: 0.5rem 5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);

  @include responsive(767px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &-logo {
    a {
      font-size: 2.25rem;
      font-weight: 800;
      color: #333;

      @include responsive(767px) {
        font-size: 1.5rem;
      }
    }
  }

  &-menu {
    @include responsive(767px) {
      flex-direction: column;
      position: absolute;
      top: 99%;
      right: -100%;
      text-align: center;
      width: 100%;
      background-color: #fff;
      box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
      opacity: 0;
      transition: all 0.5s;
    }

    &.active {
      right: 0;
      opacity: 1;
    }
  }

  &-list {
    @include flexbox(center, flex-end);
    font-size: 1.5rem;
    font-weight: 500;
    list-style: none;
  }

  &-item {
    @include responsive(767px) {
      padding: 0.75rem;
      width: 100%;
    }
  }

  &-item:not(:last-of-type) {
    margin-right: 45px;

    @include responsive(767px) {
      margin-right: unset;
    }
  }

  &-link {
    color: #666;
    transition: all 0.2s ease;
    width: 100%;
    display: block;

    &:hover {
      color: #333;
    }
  }

  &-mobile {
    font-size: 1.8rem;
    display: none;

    @include responsive(767px) {
      display: block;
    }
  }
}
