.part-one {
  margin-top: 100px;
  & > div {
    margin-left: 200px;
  }
  &-create {
    span {
      margin-bottom: 16px;
      font-size: 1.8rem;
      font-weight: 500;
      color: #2d9cdb;
      display: block;
    }
    h3 {
      max-width: 543px;
      font-size: 4.8rem;
      font-weight: 500;
    }
  }
  &-image {
    border-radius: 18px;
    margin: 42px 0;
  }
  &-story {
    h3 {
      max-width: 366px;
      margin-bottom: 42px;
      font-size: 4.8rem;
      font-weight: 500;
    }
    span {
      color: #4f4f4f;
      max-width: 366px;
      margin-bottom: 42px;
      font-size: 1.8rem;
      font-weight: 400;
      display: block;
    }
  }
  &-contact {
    span {
      font-size: 1.4rem;
      font-weight: 500;
      color: #828282;
      margin-bottom: 10px;
      display: block;
    }
    div {
      background-color: #f2f2f2;
      border-radius: 12px;
      max-width: 350px;
      display: block;
      @include flexbox(center, space-around);
      transition: all 0.3s ease;
      &:hover {
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
      }
      input {
        border: none;
        background: transparent;
        padding: 15px 0 15px 18px;
        font-size: 1.8rem;
        font-weight: 500;
        &::placeholder {
          color: #bdbdbd;
        }
      }
      button {
        border: none;
        padding: 11px 28px;
        font-size: 1.8rem;
        color: #fff;
        background-color: #2d9cdb;
        border-radius: 12px;
      }
    }
  }
}

@media (max-width: 768px) {
  .part-one {
    margin-top: 50px;
    & > div {
      margin-left: 30px;
    }
    &-create {
      max-width: 272px;
      span {
        font-size: 1.2rem;
        margin-bottom: 0;
      }
      h3 {
        font-size: 2.4rem;
      }
    }
    &-image {
      margin: 22px 0;
    }
    &-story {
      h3 {
        max-width: 227px;
        margin-bottom: 0;
        font-size: 2.4rem;
      }
      span {
        max-width: 275px;
        margin: 30px 0;
        font-size: 1.2rem;
      }
    }
    &-contact {
      span {
        font-size: 1rem;
        margin-bottom: 0;
      }
      div {
        max-width: 290px;
        input {
          padding: 15px 0 15px 18px;
          font-size: 1.4rem;
        }
        button {
          padding: 11px 20px;
          font-size: 1.4rem;
          margin-left: 25px;
        }
      }
    }
  }
}
