.part-one {
  margin-top: 6.25rem;

  @include responsive(767px) {
    margin-top: 1.5rem;
  }

  & > div {
    margin-left: 12.5rem;

    @include responsive(767px) {
      margin-left: 1.875rem;
    }
  }

  &-create {
    @include responsive(767px) {
      max-width: 17rem;
    }

    span {
      margin-bottom: 1rem;
      font-size: 1.125rem;
      font-weight: 500;
      color: #2d9cdb;
      display: block;

      @include responsive(767px) {
        font-size: 0.75rem;
        margin-bottom: 0;
      }
    }

    h3 {
      max-width: 33.875rem;
      font-size: 3rem;
      font-weight: 500;

      @include responsive(767px) {
        font-size: 1.5rem;
      }
    }
  }

  &-image {
    border-radius: 18px;
    margin: 2.625rem 0;
    object-fit: content;

    @include responsive(767px) {
      margin: 1.375rem 0;
      height: 9.125rem;
    }
  }

  &-story {
    max-width: 22.875rem;

    h3 {
      margin-bottom: 2.625rem;
      font-size: 3rem;
      font-weight: 500;

      @include responsive(767px) {
        max-width: 14.125rem;
        margin-bottom: 2rem;
        font-size: 1.5rem;
      }
    }

    span {
      color: #4f4f4f;
      display: block;
      margin-bottom: 2.625rem;
      font-size: 1.125rem;
      font-weight: 400;

      @include responsive(767px) {
        margin-bottom: 2rem;
        font-size: 0.75rem;
        max-width: 17.125rem;
      }
    }
  }

  &-contact {
    span {
      color: #828282;
      display: block;
      margin-bottom: 0.625rem;
      font-size: 0.875rem;
      font-weight: 500;

      @include responsive(767px) {
        font-size: 0.625rem;
      }
    }

    div {
      background-color: #f2f2f2;
      border-radius: 12px;
      max-width: 21.875rem;
      display: block;
      @include flexbox(center, space-around);
      transition: all 0.3s ease;

      @include responsive(767px) {
        max-width: 18.125rem;
      }

      &:hover {
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
      }

      input {
        border: none;
        background: transparent;
        padding: 15px 0 15px 18px;
        font-size: 1.125rem;
        font-weight: 500;

        &::placeholder {
          color: #bdbdbd;
        }

        @include responsive(767px) {
          padding: 1rem 0 1rem 1.125rem;
          font-size: 0.875rem;
        }
      }

      button {
        border: none;
        padding: 0.625rem 1.75rem;
        font-size: 1.125rem;
        color: #fff;
        background-color: #2d9cdb;
        border-radius: 12px;

        @include responsive(767px) {
          padding: 0.625rem 1.25rem;
          font-size: 0.875rem;
          margin-left: 1.5rem;
        }
      }
    }
  }
}
