@mixin flexbox(
  $align: center,
  $justify: space-between,
  $wrap: wrap,
  $dir: row
) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-wrap: $wrap;
  flex-direction: $dir;
}

@mixin responsive($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

.container {
  max-width: 75rem;
  margin: 0 auto;

  @include responsive(767px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.container-2 {
  margin: 0 5rem;
}

@import "./navbar";
@import "./part-one";
@import "./part-two";
@import "./part-three";
@import "./part-four";
@import "./footer";
